.header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid green;
    color: rgb(82, 4, 4);
    height: 100px;
    background-color: goldenrod;
}
input{
    display: block;
}
.form{ 
    border: 1px solid green;
    margin-top: 2%;
    height: 500px;
    width: 400px;
    display: flex;
    justify-content:center ;
    align-items: center;
    border-radius: 150%;
    background-color:rgb(233, 114, 155);
    

}
#sub{
    display: block;
    justify-content: center;
    width: 100%;
    border-radius: 40px;
    color: blue;
    background-color: gray;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 color: gold;   
    
}
body{
    background-color: yellowgreen;
    margin: 0px;
}
