body{
    margin: 0;
}
.space{
    height: 100px;
    width: 100%;

}
.cover{
    border: 1px solid;
    height: 100vh;
    background-image: url(../images/background2.png);
    background-size: cover;
    margin: none;
}

.header{
    border-bottom: 2px solid;
    justify-content: center;
    margin-top: auto;
    height: 100px;
    background-color:white;
    text-align: center;
    position: fixed;
    width: 100%;
    
}
.header button{
    border-radius: 10px;
    background-color: antiquewhite;
    border: none;
    margin-top: 70px;
    display: flex;
    float: right;
    margin-right: 40px;
    
}
button[type=menu]:hover{
    box-shadow: 2px 2px 2px 2px blue;
    cursor: pointer;
    background: transparent;
    outline: none;

}
button[type=submit]:hover{
    box-shadow: 2px 2px 2px 2px goldenrod;
    cursor: pointer;
    background: transparent;
    outline: none;

}


.reg{
    border: 1px solid;
    display: inline-block;
    justify-content: center;
    height: 40vh;
    width: 40vh;
    border-radius: 30px;
    text-align: center;
    margin-top:30px;
    background: beige;
    position: absolute;
    display: none;
   
    
}
.signin{
    background-color: blanchedalmond;
    border: 1px solid;
    display: inline-block;
    justify-content: center;
    height: 30vh;
    width: 30vh;
    border-radius: 30px;
    text-align: center;
    margin-top: 10px;
    position: absolute;
    display: none;

}
 input[type=text]{
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid;
    border-left: 1px solid;

}
input[type=password]{
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid;
    border-left: 1px solid;

}
input[type=number]{
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid;
    border-left: 1px solid;

}
input[type =submit]{
    border: 1px solid;
}
.container{
    
    text-align: center;
    
    
}
p{
    color: white;
    font-size: large;
    font-weight: bolder;
}
