table{
   border-collapse: collapse;
   font-size: 20px;
   background-image: url(../images/background.jpg);
   height: 80vh;
   width: 80vw;
   
   

  
}
.container{
  text-align: center;

}
option{
outline:none ;
}
#submit{
  width: 100%;
  
}
#opt{
  border: none;
  outline: 0;
  background-color: transparent;
  font-size: 20px;
}
#opt2{
  border: none;
  outline: 0;
  background-color: transparent;
  font-size: 20px;
}
#opt3{
  border: none;
  outline: 0;
  background-color: transparent;
  font-size: 20px;
}
#opt4{
  border: none;
  outline: 0;
  background-color: transparent;
  font-size: 20px;
}
#opt5{
  border: none;
  outline: 0;
  background-color: transparent;
  font-size: 20px;
}
input[type ="text"]{
  border: none;
  background: none;
  outline: 0;
  width: 50px;
  font-size: 20px;
}
input[type = "submit"]{
  border: none;
  background: none;
  font-size: 20px;
  cursor:pointer ;


}
input:hover[type = "submit"]{
   cursor:pointer ;
   color:yellow;
   opacity:0.5 ;


}
#total{
  border: none;
  background: none;
  font-size: 20px;
  
}
#total:hover{
  cursor:pointer ;
  color: blue;
  opacity: 0.5;
}

#CHECKPT{
  border: none;
  background: none;
  font-size: 20px;
}
#CHECKPT:hover{
  cursor: pointer;
  color:red;
  opacity: 0.5;

  

}
th{
  color:rgb(203, 138, 19);
  font-size: 25px;
}
#bode td{
  text-decoration:none;
  color:yellow;
  text-shadow: 2px 1px 2px black ;
}
body{
  background-color:rgb(243, 217, 230);
}
/* .play{
  display: none;
} */

