table{
   border-collapse: collapse;
   font-size: 20px;
   box-shadow: 20px 26px 62px 2px ;
   border-radius: 10px;
  background-image: url(../images/background.jpg);

  
}
.container{
  text-align: center;
}
option{
outline:none ;
}
#submit{
  width: 100%;
  
}
#opt{
  border: none;
  outline: 0;
  background-color: transparent;
  font-size: 20px;
}
#opt2{
  border: none;
  outline: 0;
  background-color: transparent;
  font-size: 20px;
}
#opt3{
  border: none;
  outline: 0;
  background-color: transparent;
  font-size: 20px;
}
#opt4{
  border: none;
  outline: 0;
  background-color: transparent;
  font-size: 20px;
}
#opt5{
  border: none;
  outline: 0;
  background-color: transparent;
  font-size: 20px;
}
input[type ="text"]{
  border: none;
  background: none;
  outline: 0;
  width: 50px;
  font-size: 20px;
}
input[type = "submit"]{
  border: none;
  background: none;
  font-size: 20px;


}
#total{
  border: none;
  background: none;
  font-size: 20px;
}
#CHECKPT{
  border: none;
  background: none;
  font-size: 20px;
}
body{
  background-color:rgb(243, 217, 230);
}

